[Unit]
Description=Run Nando response package miner

[Timer]
OnBootSec=75s
OnUnitActiveSec=60s
RandomizedDelaySec=5s
AccuracySec=5s
Unit=nando-response-miner.service

[Install]
WantedBy=timers.target
